$input-height: 40px;

@mixin clearfix {
  overflow: auto;
}

.photos-page {
  padding: 20px;
  @include clearfix;
  p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
  }

  .tags-input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    text-indent: 5px;
    height: $input-height;
    line-height: $input-height;
    width: 300px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.55);

  }

  .search-submit {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px;
    height: $input-height;
    line-height: $input-height;
    width: 60px;
    background-color: #6e91ff;
    color: white;
  }

  .photos {
    list-style: none;
    @include clearfix;
    margin: 0;
    padding: 0;

    .photos-title {
      width: 300px;
      height: 40px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 1em;
    }
    li {
      float: left;
      width: 300px;
      height: 350px;
    }
  }
}
